---
import Breadcrumb from "../components/Breadcrumb.astro";
import Layout from "../layouts/Layout.astro";

const customCrumbs = [
  {
    text: "Home",
    href: "#",
  },
  {
    text: "Consulting",
    href: "#",
    title: "Consulting",
  },
];

const listAssessmentCenter = [
  "Jasa Assessment Center", 
  "Jasa pengembangan tools Assessment Center",
  "Sertifikasi Certified Assessment Center Assessor (CACA)",
  "Sertifikasi Certified Behavioral Event Interviewer (CBEI)"
]

function generateTextMessage(classTitle: string): string {
  const encodedTitle = encodeURIComponent(classTitle);
  const templateMessage = `Saya%20tertarik%20untuk%20menggunakan%20jasa%20${encodedTitle}%20yang%20Anda%20tawarkan.%20Bisakah%20Anda%20membantu%20saya%20dengan%20informasi%20lebih%20lanjut%20mengenai%20layanan%20ini%2C%20termasuk%20harga%2C%20metode%20pelaksanaan%2C%20dan%20jadwal%20yang%20tersedia%3F`;

  return `${templateMessage}%20${encodedTitle}`;
}

---
<style>
th{
  @apply border border-slate-600
}

td{
  @apply border border-slate-700
}
</style>
<Layout title="Consulting">
  <div class="flex flex-col gap-8">
    <div class="bg-backdrop bg-cover py-16 h-full">
      <section>
        <div class="flex flex-col gap-8">
          <div class="w-3/5 flex flex-col p-8 justify-start items-start gap-16">
            <h1 class="flex-grow flex items-center justify-center text-white">Consulting</h1>
            <Breadcrumb customCrumbs={customCrumbs}>
          </div>
        </div>
      </section>
    </div>
    <div class="py-8 bg-white min-h-50">
      <section>
        <div class="flex flex-col flex-1 gap-4">
            <h5>Consulting & Assessment Center</h5>
            <table class="table-fixed border-collapse box-border border-2 align-middle text-center">
              <tr>
                <th>Nomor</th>
                <th>Nama Layanan</th>
                <th>Kontak Kami</th>
              </tr>
              {listAssessmentCenter.map((value, index) => {
                var url = `https://wa.me/6281381884838?text=${generateTextMessage(value)}`
                return (
                  <tr>
                    <td>{index + 1}</td>
                    <td class="text-start translate-x-4">{value}</td>
                    <td class="text-center table-cell ml-auto mr-auto align-middle">
                      <div class="grid place-content-center place-items-center my-2">
                        <a href={url}>
                          <img src={"../../public/icons/icon-whatsapp.png"} width="40"/>
                        </a>
                      </div>
                    </td>
                  </tr>
                )
              })}
            </table>
          </div>
      </section>
    </div>
  </div>
</Layout>