---
interface Props {
  title?: string | null;
  fontSize?: number | null;
  bgColor?: string | null;
  textColor?: string | null;
}

const {title, fontSize, bgColor, textColor} = Astro.props;

const fontSizeCss = fontSize ? `text-[${fontSize}px]` : 'text-base'
const titleText = title ? title : 'Company Profile'
const bgTextCss = bgColor ? bgColor : 'bg-bgLightSkyBlue'
const textColorCss = textColor ? textColor : 'text-altPrimary'

---

<div class="inline-block items-start text-left">
  <p class=`pb-4 px-2 rounded-lg relative`><span class=`${bgTextCss} 0 rounded-xl ${textColorCss} font-normal px-4 py-1 ${fontSizeCss}`>{titleText}</span></p>
</div>