---
import Chip from "./Chip.astro";

interface ImageMetadata {
  default: string
}


const importAll = async (r: Record<string, () => Promise<{ default: string }>>): Promise<string[]> => {
  const imports = Object.keys(r).map(key => r[key]().then(mod => mod.default));
  return await Promise.all(imports);
};

const images = await importAll(import.meta.glob<{ default: string }>('../content/customers/*.{jpg,png}'));

var result: any[] = []
await Promise.all<any>(images).then((value) => {
  console.log('ada' + value[0].src)
  result = value
});
---
<section>
  <div class="flex flex-col gap-8 h-full justify-start items-start">
    <Chip client:load title={"Our Customers"} fontSize={14} />
    <h1>Klien Kami</h1>
    <div class="flex flex-row gap-12 items-start">
      <div class="flex flex-col font-normal text-wrap leading-8 tracking-wide">
        <div class="overflow-auto break-words">
          <p class="text-dimGray text-[1.2rem] font-light">Dipercaya oleh berbagai perusahaan dari berbagai industri, kami telah membantu ribuan individu mencapai potensi maksimal mereka. Dari startup yang dinamis hingga korporasi mapan, klien kami mengandalkan kami untuk memberikan solusi pelatihan yang efektif dan disesuaikan dengan kebutuhan mereka.</p>
        </div>
        <div class="max-h-80 grid grid-cols-4 grid-rows-2 justify-center items-center mt-8 gap-16">
              <div class="group transition-all">
                <img
                  src={result[1].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
              <div class="group transition-all">
                <img
                  src={result[3].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
              <div class="group transition-all">
                <img
                  src={result[5].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
              <div class="group transition-all">
                <img
                  src={result[2].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
              <div class="group transition-all">
                <img
                  src={result[4].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
              <div class="group transition-all">
                <img
                  src={result[0].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
              <div class="group transition-all">
                <img
                  src={result[6].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
              <div class="group transition-all">
                <img
                  src={result[7].src}
                  height="100"
                  width="auto"
                  alt={`Customers Image`}
                  class="rounded-lg transition-all group-hover:shadow-lg group-hover:opacity-90 object-scale-down"
                />
              </div>
        </div>
      </div>
    </div>
  </div>
</section>