---
const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl, baseUrl} = Astro.props;
const paginationList = Array.from({length: Number(length)}, (_, i) => i + 1);
---
<style>
.pagination_button {
  @apply bg-[#ECF7FD] text-primary px-4 py-2 text-lg rounded-sm;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a{
    @apply no-underline
}
</style>
<nav aria-label="Blog pages" class="pagination pagination-default flex flex-row flex-auto justify-center items-center">
    { firstUrl == currentUrl ? (
        <span class="pagination__link disabled">
            <i class="pi-angle-left"></i>
            <i class="pi-angle-left"></i>
        </span>
    ) : (
        <a href={firstUrl} class="pagination__link">
            <i class="pi-angle-left"></i>
            <i class="pi-angle-left"></i>
        </a>
    )}

    <!-- Previous page link -->
    { prevUrl ? (
        <button class="pagination_button">
            <a href={prevUrl} class="pagination__link">
                &#x2190; Previous
            </a>
        </button>
    ) : (
        <button class="pagination_button">
            <a class="pagination__link disabled">
                &#x2190; Previous
            </a>
        </button>
    )}


    <!-- Pagination List -->
    <div class="flex flex-row flex-auto gap-2 mx-4">{
        paginationList.map((num) => (
            <div class={`rounded-xl w-8 text-center py-2 ${currentPage !== num ? 'bg-customWhite' : 'bg-primary'}`}>
                <a href={`${num == 1 ? "1" : num}`} class={`pagination__link ${currentPage === num ? "disabled active text-white" : "text-captionText"}`}>
                    {num}
                </a>
            </div>
            ))
        }
    </div>

    {nextUrl ? (
        <button class="pagination_button">
            <a href={nextUrl} class="pagination__link">
                Next &#x2192;
            </a> 
        </button>
    ) : (
        <button class="pagination_button">
            <a href={nextUrl} class="pagination__link disabled">
                Next &#x2192;
            </a>
        </button>
    )}

    { lastUrl == currentUrl ? (
        <span class="pagination__link disabled">
            <i class="pi-angle-right"></i>
            <i class="pi-angle-right"></i>
        </span>
    ) : (
        <a href={lastUrl} class="pagination__link">
            <i class="pi-angle-right"></i>
            <i class="pi-angle-right"></i>
        </a>
    )}
    
</nav>